.container
  h3 How does this work?
  p This application authenticates in a user with their LinkedIn username and password and creates an account. The user can then build a virtual business card with their most current profile information from LinkedIn. Users have the option to edit and save cards to their account on this site. Once saved the user can share the URL. The user can create as many cards as they want and delete ones they no longer use.

  h3 What's under the hood?
  p
    | This web app was built with the&nbsp
    a(href='http://mean.io/') MEAN
    | &nbspstack and&nbsp
    a(href='https://github.com/sahat/satellizer') Satellizer
    | &nbspfor authenticating with LinkedIn. The source code to the project can be found&nbsp
    a(href='https://github.com/schuchard/Virtual-Business-Card-LinkedIn') here.
