.container
  .panel.panel-default.smallCard
    h5.panel-heading {{card.formattedName}}
    .panel-body
      p {{card.industry}}
      p {{card.positions.data.title}} at {{card.positions.data.company.name}}
      p Created on {{card.created | date:'medium'}}
      a.btn.btn-primary.btn-sm(href='#/view/{{card._id}}') View card

