.container(ng-show='data')
  form.form-horizontal
    fieldset
      legend Edit Card
      img(ng-src='{{data.pictureUrl}}')
      .form-group
        label.col-lg-2.control-label(for="name") Name
        .col-lg-10
          input.form-control(type="text", value="{{data.formattedName}}")
      .form-group
        label.col-lg-2.control-label(for="title") Title
        .col-lg-10
          input.form-control(type="text", value="{{data.positions.values[0].title}}")
      .form-group
        label.col-lg-2.control-label(for="company") Company
        .col-lg-10
          input.form-control(type="text", value="{{data.positions.values[0].company.name}}")
      .form-group
        label.col-lg-2.control-label(for="industry") Industry
        .col-lg-10
          input.form-control(type="text", value="{{data.industry}}")
      .form-group
        label.col-lg-2.control-label(for="description") Description
        .col-lg-10
          textarea#textArea.form-control(rows="3") {{data.summary}}
      .form-group
        label.col-lg-2.control-label(for="skills") Skills
        .col-lg-10
          input.form-contorl(style='margin-right: 25px', size='30' type='text', ng-repeat='skill in data.skills.values | orderBy: "skill.name"', value='{{skill.skill.name}}')
      .form-group
        label.col-lg-2.control-label(for="location") Location
        .col-lg-10
          input.form-control(type="text", value="{{data.location.name}}")

      .form-group
        .col-lg-10.col-lg-offset-2
          button.btn.btn-primary(type="submit") Submit
          button.btn.btn-default(type="reset") Cancel
