.container
  div(ng-if='isAuthenticated() && currentUser.data.formattedName')
    p
      a(href='#/edit', ng-hide='data').btn.btn-lg.btn-primary Build a business card

    div(ng-if='data')
      edit-card

    div(ng-controller='DetailCtrl')
      h4 My Cards
      div(ng-repeat='card in myCards')
        card-feed

  div(ng-if='!isAuthenticated()')
    .jumbotron
      h2 LinkedIn
      p
        a(href='', ng-click='authenticate("linkedin")').btn.btn-lg.btn-success Login
