.container
  div(ng-if='isAuthenticated() && currentUser.data.formattedName')
    p
      a(href='', ng-click='buildCard()', ng-hide='data').btn.btn-lg.btn-primary Build a business card
    div(ng-if='data')
      edit-card
    .row
      div(ng-repeat='card in cards').col-lg-2.col-sm-3.col-xs-4
        a(href='#/card/{{card.id}}')
          p Card details here

  div(ng-if='!isAuthenticated()')
    .jumbotron
      h2 LinkedIn
      p
        a(href='', ng-click='authenticate("linkedin")').btn.btn-lg.btn-success Login
