.container
  .panel.panel-default.relContainer
    h2.panel-heading {{data.formattedName}}
    img.cardPicture(ng-src='{{data.pictureUrl}}')
    .panel-body
      .row
        .col-sm-4
          h3 Title
          p {{data.positions.data.title}}
        .col-sm-4
          h3 Company
          p {{data.positions.data.company.name}}
        .col-sm-4
          h3 Industry
          p {{data.industry}}
      .row
        .col-sm-12
          h3 Description
          p {{data.description}}
      .row
        .col-sm-12
          h3 Skills
          div.inlineList(ng-repeat='skill in data.skills.values')
            p {{skill.skill.name}}
      .row
        .col-sm-4
            h3 Email Address
            p {{data.email}}
        .col-sm-5
            h3 LinkedIn Profile
            p {{data.profileUrl}}
        .col-sm-3
          h3 Location
          p {{data.location.name}}
      .row
      div(ng-if='isAuthenticated() && currentUser.data.formattedName')
        button.btn.btn-danger(type="reset", ng-click='delete(data._id)') Delete

