.smallCard {
  width: 306px;
}

.navProfile p {
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 15px;
}

.navProfile img {
  height: 50px;
  border-radius: 25px;
  margin-top: 5px;
  margin-left: 15px;
}

.inlineList {
  float: left;
  padding-right: 15px;
}

.left {
  float: left;
  width: 370px;
}

.relContainer {
  position: relative;
}

.cardPicture {
 position: absolute;
 right: 0px;
 top: 0px;
 height: 68px;
 padding: 3px;
 border-radius: 6px;
}

.smallCard p {
  margin-bottom: 3px;
}

.smallCard .panel-body {
  padding-top: 0px;
}

.smallCard a {
  margin-right: 8px;
}

[ng\:cloak] [ng-cloak] [data-ng-cloak] [x-ng-cloak] .ng-cloak .x-ng-cloak {
  display: none !important;
}