extends layout

block content
  div
  h1 LinkedIn Login
  md-content(layout-padding, ng-controller='loginController')
    a(href='/auth/linkedin') Login
    md-button.md-raised.md-primary(flex, ng-click='login()') Login 2

  div(ng-view)