extends layout

block content
  .navbar.navbar-defualt.navbar-static-top
    .container(ng-controller='NavbarCtrl')
      .nav.navbar-nav
        a(href='/').navbar-brand LinkedIn
        li
          a(href='#/') Home
        li
          a(ng-if='!isAuthenticated()', href='#/login') Log in
        li
          a(ng-if='isAuthenticated()', href='', ng-click='logout()') Logout

  div(ng-view)