extends layout

block content
  .navbar.navbar-defualt.navbar-static-top
    .container
      .nav.navbar-nav
        a(href='/').navbar-brand LinkedIn
        li
          a(href='#/') Home
        li
          a(href='#/login') Login
        li
          a(href='', ng-click='logout()') Logout

  div
  h1 LinkedIn Login
  a(href='#/login') Login

  div(ng-view)