doctype html
html(lang='en', ng-app='cardApp')
  head
    meta(charset="utf-8")
    title Virtual Business Card
    link(rel='stylesheet', type='text/css', href='/css/styles.css')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/angular-material/0.8.3/angular-material.min.css')
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css", rel="stylesheet")


  body
    block content

    script(src='vendor/angular.js')
    script(src='vendor/angular-route.js')
    script(src='vendor/angular-messages.js')
    script(src='vendor/angular-resource.js')
    script(src='vendor/angular-animate.js')
    script(src='vendor/angular-aria.js')
    script(src='vendor/satellizer.js')
    script(src='/app.js')
    script(src='/controllers/detail.js')
    script(src='/controllers/home.js')
    script(src='/controllers/login.js')
    script(src='/controllers/navbar.js')
    script(src='/controllers/view.js')
    script(src='/services/cardAPI.js')
    script(src='/directives/editCard.js')
    script(src='/directives/cardFeed.js')
    //- script(src='//cdnjs.cloudflare.com/ajax/libs/angular-material/0.8.3/angular-material.min.js')

